<div class="registration-form">
  <form class="p-5" [formGroup]="registrationForm" (ngSubmit)="onRegister()">
    <h3 class="text-center">Registration</h3>
    <div
      class="alert alert-danger"
      *ngIf="isSubmitted && !this.registrationForm.valid"
    >
      <span *ngIf="userName.hasError('required')"> Name is required </span>
      <span *ngIf="userName.hasError('minlength')">
        Your name should at least have 2 characters
      </span>
      <div *ngIf="userEmail.hasError('required')">Email is required</div>
      <div *ngIf="userEmail.hasError('email')">Email is not valid</div>
      <div *ngIf="userPassword.hasError('required')">Password is required</div>
      <div *ngIf="userPassword.hasError('minlength')">
        Password should at least have 6 characters
      </div>
      <div *ngIf="userPasswordConfirmed.hasError('required')">
        Confirm your password
      </div>
      <div *ngIf="userPassword.value !== userPasswordConfirmed.value">
        Passwords do not match
      </div>
    </div>
    <div class="alert alert-success" *ngIf="isUserRegistered">
      <span>User succesfully registered</span>
    </div>
    <div class="alert alert-danger" *ngIf="isUserAlreadyRegistered">
      <span>E-mail adress is already in use</span>
    </div>
    <div class="form-group">
      <label for="user-name">Name</label>
      <input
        type="name"
        class="form-control"
        id="user-name"
        aria-describedby="name"
        placeholder="Enter name"
        formControlName="userName"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        formControlName="userEmail"
      />
      <small id="emailHelp" class="form-text text-dark"
        >We'll never share your email with anyone else.</small
      >
    </div>
    <div class="form-group">
      <label for="password">Password (Min. 6 characters)</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
        formControlName="userPassword"
      />
    </div>
    <div class="form-group">
      <label for="confirm-password">Confirm Password</label>
      <input
        type="password"
        class="form-control"
        id="confirm-password"
        placeholder="Confirm Password"
        formControlName="userConfirmedPassword"
      />
    </div>

    <button
      routerLink="/auth/login"
      class="btn btn-primary text-white float-left px-5"
    >
      Login
    </button>
    <button type="submit" class="btn text-white btn-register float-right px-5">
      Register
    </button>
  </form>
</div>
